.container-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}
.add-task {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border-radius: 10px;
  background-color: white;
  width: 500px;
  height: 200px;
}
.add-task h2 {
  color: red;
}
.add-task input {
  width: 300px;
  border-radius: 5px;
  border: 2px solid red;
}
.add-task button {
  background-color: red;
  color: white;
  border-radius: 10px;
  border: 1px solid black;
  width: 300px;
}
